article{
    width: 500px;
    height: 200px;
    background-color: #D3D3D3 ;
    padding: 10px;
    overflow: auto;
}
h2 ,h3 {
    text-align: center;
}
h2{
    text-transform: uppercase;
}
p{
    text-indent: 30px;
}