body{
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(7,25%);
    grid-template-areas: 
    "header header header"
    "header header header"
    "main main aside"
    "main main aside"
    "main main aside"
    "footer footer footer"
    "footer footer footer";
    gap: 15px;
    justify-content: center; 
}
header, main, aside, footer{
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 5px 10px 1px gray;
    padding: 20px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}